@import 'color';

.test {
    margin-right: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    overflow-x: hidden;


}

h1 {
    font-family: 'Montserrat', sans-serif;
}

.container-fluid {
    padding: 0;

    .card {
        background-color: rgb(247, 247, 247, 0.8);
    }

    .navbar {
        width: 100%;
    }

    .logo-color {
        color: $color1;
    }

    .font-weight-thin {
        font-weight: lighter;
    }

    .carousel-caption {
        position: absolute;
        top: 35%;

        h1 {
            font-size: 4.5em;
        }

        p {
            font-size: 1.5em;
        }
    }



    .navbar {
        .nav-link:hover {
            color: $color1;
        }


    }
}

.container2 {
    min-height: 100vh;
    height: auto;
    width: 100%;
    background-image: url(../IMG/banner-1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $color2;

    .row {
        a {
            text-decoration: none;
        }

        h3 {
            color: white;
        }

        h8 {
            font-weight: bolder;
            color: $color3;
        }

        p {
            font-size: 0.8em;
            color: white;
        }

        .col {
            margin-right: 0;
        }

        .col-lg-3:hover {
            background-color: rgb(186, 184, 184, 0.7);


        }
    }
}

.container3 {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-image: url(../IMG/race_car.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .card {
        position: relative;
        top: 35%;
        margin-left: auto;
        margin-right: auto;
    }
}

footer {
    height: auto;
    background-color: $color2;
    color: $color3;

    .col,
    .row {
        margin-right: 0;
    }

    a {
        font-size: 0.9em;
        color: $color3;
    }

    a:hover {
        text-decoration: none;
        color: white;
    }

    .copyright-bar {
        height: 5vh;
        padding-top: 5px;
        background-color: #444444;
        text-align: center;
    }


}

h5 {
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}

.social-media {
    .twitter:hover {
        color: #38A1F3;

    }

    .facebook:hover {
        color: #3b5998;

    }

    .linkedin:hover {
        color: #0077B5;

    }

    .xing:hover {
        color: #026466;

    }
}
